/**
 * Content Editable
 */
 .ContentEditableWrapper {
  position: relative;
  width: 100%;
  border: 1px #ccc solid;
  z-index: 2;
}
.ContentEditable-Input {
  position: relative;
  z-index: 1;
  color: #333;
  font-size: 16px;
}
.ContentEditable-Input, .ContentEditable-Fake {
  height: 34px;
  padding: 5px 10px;

  &:focus {
    outline: none;
  }
}
.ContentEditable-Fake {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  background: transparent;
}
.ContentEditableWrapper span {
  background-color: yellow;
}

.ContentEditable-Input:empty:before {
  content: attr(placeholder);
  cursor: text;
  display: block;
  color: #666;
}
